.row{
    align-items: center;
    display: flex;
    justify-content: center;
}
.activeColor{
    padding-top:5px;
    height: 30px;
    width: 10%;
    border: 2px solid grey;
    cursor: pointer;
}
.pointer{
    cursor: pointer;
}